<!DOCTYPE html>
<html lang="en">
<head>
    <title>Disclaimer</title>
    {% include 'bootstrap.html' %}
</head>
<style>
    body {
    margin-top: 60px;
  }

  .container {
    margin-top: 20px;
  }

  .row {
    margin-left: 100px;
    margin-right: 100px;
  }

  a {
    color: blue;       /* Sets the text color to blue */
    text-decoration: underline; /* Underlines the text */
  }
</style>
<body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="row">
        <h3><b>Disclaimer</b></h3>
        <p><b>Tilburg University – Master Thesis in Marketing Analytics</b></p>
        <h5><b>General Information</b></h5>
        <p>This website is part of a master thesis project by Jonas Klein and Matthijs van Gils, under the guidance of Dr. Hannes Datta, Associate Professor at the Tilburg School of Economics and Management, Tilburg University, The Netherlands. The purpose of this website is to present a comprehensive catalogue of courses offered by Tilburg University, aimed at providing (prospective) students with in-depth information about the various academic programs available.</p>
        <h5><b>Limitation of Liability</b></h5>
        <p>While every effort has been made to ensure the accuracy and completeness of the information provided on this website, Tilburg University, its employees, students, and project coordinators (including Dr. Hannes Datta) do not assume any legal liability or responsibility for the accuracy, completeness, or usefulness of any information, product, or process disclosed.</p>
        <h5><b>No Rights Can Be Derived</b></h5>
        <p>The content provided on this website is for informational purposes only. No rights can be derived from the data and information presented here. Users are advised to verify the currentness and reliability of the information provided before making any decisions based on such information.</p>
        <h5><b>External Links</b></h5>
        <p>This website may contain links to external websites that are not provided or maintained by or in any way affiliated with Tilburg University or the authors of this thesis. Please note that Tilburg University does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.</p>
        <h5><b>Contact Information</b></h5>
        <p>For inquiries or feedback regarding the website, please contact:<br>
        Dr. Hannes Datta (Project Coordinator)<br>
        Associate Professor<br>
        Tilburg School of Economics and Management<br>
        Tilburg University, The Netherlands<br>
        Email: <a href="mailto:h.datta@tilburguniversity.edu">h.datta@tilburguniversity.edu</p>
      </div>
    </div>
</body>
{% include 'footer.html' %}
</html>