<style>
  footer {
        width: 100%;
        border-top: 1px solid #ccc;
    }
  
  .no-wrap {
        white-space: nowrap;
    }
</style>
  <div class="container">
    <footer class="py-5">
      <div class="row">
          
          <div class="col-2">
            <h5>Pages</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="/home" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="/favourites" class="nav-link p-0 text-body-secondary">Favourites</a></li>
              <li class="nav-item mb-2"><a href="/disclaimer" class="nav-link p-0 text-body-secondary">Disclaimer</a></li>
            </ul>
        </div>
    
          <div class="col-2">
          </div>
          
          <div class="col-4">
            <h5>About</h5>
            <p class="no-wrap">Welcome to our course catalogue, part of our Marketing Analytics Master's thesis at Tilburg University. Created by Jonas Klein and Matthijs van Gils, this site details the academic programs at Tilburg University. Our aim is to guide prospective students. For comprehensive usage information, please see our <a href="/disclaimer" class="nav-link p-0 text-body-secondary">disclaimer</a>. Contact details for queries and feedback are also available on the <a href="/disclaimer" class="nav-link p-0 text-body-secondary">disclaimer page</a>.</p>
          </div>

          <div class="col-4">
            <h5>Copyright statement</h5>
            <p>Copyright &copy; 2023 - Jonas Klein and Matthijs van Gils, master thesis at Tilburg School of Economics and Management at Tilburg University for Marketing Analytics. All rights reserved.</p>
          </div>
      </div>
      <br>
      <br>
        <div class="row">
          <div class='col-12 d-flex justify-content-end'> <!-- Added justify-content-end here -->
              <ul class="list-unstyled d-flex">
                  <li class="ms-3">
                      <a class="link-body-emphasis" href="https://github.com/KleinJonasUVT/thesis_ma_jonas">
                          <i class="fa-brands fa-github fa-2xl" style="color: #000000;"></i>
                      </a>
                  </li>
              </ul>
          </div>
        </div>
    </footer>
</div>